In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("direcciones.xlsx")

In [3]:
df.head()

                    Colonia  codigo postal            Calle  numero de casa
0             FIERRO    MTY          64590    JESUS M GARZA            4026
1  VALLE DE SANTA LUCIA MTY          64140  LIC PEDRO ZORRI             404
2      JARDINES DEL PAS MTY          64900   AVE FUNDADORES            5300
3             CIUDAD NATURA          64989   AV ABRAHAM LIN            4001
4      VILLA LOS PINOS  MTY          64770   PINO SILVESTRE            2923

In [4]:
df["nombre"] = df["Calle"].apply(str)+" "+df["numero de casa"].apply(str)+" Nuevo Leon "

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
df["nombre"][0:20]

0       JESUS M GARZA 4026 Nuevo Leon
1      LIC PEDRO ZORRI 404 Nuevo Leon
2      AVE FUNDADORES 5300 Nuevo Leon
3      AV ABRAHAM LIN 4001 Nuevo Leon
4      PINO SILVESTRE 2923 Nuevo Leon
5     PROLONGACION JO 2004 Nuevo Leon
6     CALLE JOSE ANTO 7319 Nuevo Leon
7        LAGO TITICACA 209 Nuevo Leon
8            FRAY JOSE 729 Nuevo Leon
9      HACIENDA DEL CA 310 Nuevo Leon
10       JUANA DE ARCO 488 Nuevo Leon
11     SANTIAGO TAPIA 1613 Nuevo Leon
12            PIZARRA 6509 Nuevo Leon
13           MALAQUITA 246 Nuevo Leon
14     ANTIGUO CAMINO 3317 Nuevo Leon
15      PASEO NISPEROS 240 Nuevo Leon
16     PIRAMIDES DE EG 425 Nuevo Leon
17            MARSELLA 303 Nuevo Leon
18               SELBY 113 Nuevo Leon
19         CALLE NARDO 948 Nuevo Leon
Name: nombre, dtype: object

In [9]:
df.to_excel("FormatoDireccionBing.xlsx")